/* ---HEADER--- */
#page_header {
  width: 100%;
  height: 50px;
  margin-top: 3%;
  text-align: center;
  font-size: 40px;
  font-family: Georgia, serif;
}

/* ---BODY--- */
body {
  background-color: #4D2C3D;
  color: white;
}
#work_button, #break_button, #reps_button {
  background-color: #155765;
  border-radius: 10px;
}
#wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  width: 440px;
  height: 350px;
  background-color: #57652A;
  border-radius: 10px;
}
#workbreak_header {
  display: inline-block;
  width: 420px;
  height: 40px;
  margin-top: 0px;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
}
#title_work {
  display: inline-block;
  float: left;
  margin-top: 2px;
  margin-left: 45px;
  font-size: 36px;
  vertical-align: middle;
}
#title_break {
  display: inline-block;
  float: right;
  margin-top: 2px;
  margin-right: 45px;
  font-size: 36px;
  vertical-align: middle;
}
#work_button {
  display: inline-block;
  float: left;
  width: 200px;
  height: 40px;
  margin-top: 0px;
  margin-left: 10px;
  text-align: center;
}
#break_button {
  display: inline-block;
  float: right;
  width: 200px;
  height: 40px;
  margin-top: 0px;
  margin-right: 10px;
  text-align: center;
}
.left {
  display: inline-block;
  float: left;
  width: 50px;
  font-size: 36px;
}
.right {
  display: inline-block;
  float: right;
  width: 50px;
  font-size: 36px;
}
.center {
  display: inline-block;
  text-align: center;
  font-size: 36px;
}
#reps_header {
  display: inline-block;
  width: 420px;
  height: 40px;
  margin-top: 0px;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
}
#title_reps {
  display: inline-block;
  text-align: center;
  margin-top: 2px;
  font-size: 36px;
  vertical-align: middle;
}
#reps_button {
  display: inline-block;
  width: 200px;
  height: 40px;
  margin-top: 0px;
  margin-left: 120px;
  text-align: center;
}
.right:hover, .left:hover {
  opacity: 0.5;
}
#time_div {
  display: inline-block;
  width: 200px;
  height: 60px;
  margin-top: 20px;
  margin-left: 90px;
  text-align: center;
}
#time_count {
  display: inline-block;
  text-align: center;
  margin-top: 0px;
  font-size: 114px;
}
